body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #fff5f5;
    color: #1a0000;
}
nav {
    background-color: #c0152a;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #ffffff;
    font-size: 30px;
}

nav p {
    color: #ffcccc;
    font-size: 15px;
}

section {
    text-align: center;
    padding: 80px 20px;
}

section h2 {
    font-size: 42px;
    color: #c0152a;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    color: #6b5b5b;
    max-width: 500px;
    margin: 0 auto;
}

/* Styling the buttons */

a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    margin: 10px;
    font-size: 18px;
    border-radius: 8px;
}

.need-blood {
    background-color: #c0152a;
    color: #ffffff;
}

.donate {
    background-color: #ffffff;
    color: #c0152a;
    border: 2px solid #c0152a;
}
footer {
    background-color: #c0152a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

footer p {
    font-size: 17px;
    line-height: 1;
}